/* Define Fonts */

@font-face {
    font-family: plation;
    src: url("../fonts/plation.ttf") format("truetype");
}

@font-face {
    font-family: zrnic;
    src: url("../fonts/zrnic.ttf") format("truetype");
}

@font-face {
    font-family: icon-psx;
    src: url("../fonts/icon-psx.ttf") format("truetype");
}

/* styles for body element */
body {
    background-color: #006FCD;
    font-size: 15px;
    font-family: 'zrnic';
}



/* styles for teh container id */
#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* styles for the header section */
header {
    background-color: #1d1d1c;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    border: 0px solid #1d1d1c;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit
}

header a {
    width: 100%;
}

#mainImgCont {
    width: 100%;
}

#bannerImg {
    max-height: 300px;
}

#bannerComplement {
    min-height: 80px;
    margin-bottom: 20px;
}

#mainSloganCont h1 {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    font-family: 'coolvetica';
    font-weight: 200;
}
/* *********************************************** NAV ************************************************** */
/* styles for the nav element */
nav {
    font-family: 'zrnic';
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #1d1d1c;
    color: white;
    display: block;
    overflow: hidden;
}

nav ul {
    float: left;
    width: 60%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

nav form {
    text-align: right;
    float: right;
    width: 30%;
    height: 100%;
}


nav li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 20%;
    display: inline;
    float: left;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
}

nav input {
    font-family: inherit;
    height: 48px;
    color: black;
    border: 2px solid #333;
    border-radius: 5px;
    display: inline-block;
    padding: 0 30px;
    margin-top: 20px;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    font-weight: normal;
}

nav button {
    font-family: inherit;
    height: 48px;
    color: white;
    letter-spacing: 0.1em;
    font-size: 0.75em;
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    display: inline-block;
    padding: 0 30px;
    font-weight: normal;
}

.selected-li {
    color: #006FCD;
    cursor: default;
}

/* *********************************************** MAIN ************************************************** */

main {
    clear: left;
    /* margin-top: 4em; */
    border-radius: 0;
    overflow: auto;
    margin-bottom: 20px;
}

/* *********************************************** Section ************************************************** */

section {
    font-family: 'zrnic';
    letter-spacing: 1px;
    font-weight: 100;
    background-color: #1d1d1c;
    color: white;
    float: right;
    width: 72%;
    padding: 20px;
}

section h2 {
    font-family: inherit;
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 1px;
    padding-left: 20px;
}

/* *********************************************** Form(contactus) ************************************************** */

section form{
    padding: 10px auto;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
}

section form p{
    text-align: justify;
    font-size: 1.25em;
}

.input-group {
    text-align: left;
    display: inline-block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.input-group .input-label {
    display: block;
    width: 100%;
}

.input-group .input-element {
    margin-top: 15px;
    display: block;
    font-family: inherit;
    width: inherit;
    min-height: 48px;
    color: black;
    border-radius: 5px;
    padding: 0 auto;
    font-size: 1.05em;
    width: 90%; 
}
.input-group.xl{
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
}

.form-submit{
    margin-top: 20px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    background-color: #006FCD;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* *********************************************** PS1 & PS5 ************************************************** */

    .two-columns{
        column-count: 2;
    }

    .slideImg {
        width:100%;
        height: 280px;
        object-fit: fill;
    }
    .text {
        color: #f2f2f2;
        font-size: 1.25em;
        width: 100%;
        text-align: left;
    
        background-color: #2222223f;
      }
    .article-image{
        width:100%;
    }

    .article-image figure{
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
    .article-image .active{
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    .article-image .hidden{
        display: none;
    }

    .article-image:hover .active{
        display: none;
    }

    .article-image:hover .hidden{
        display: block;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }


    
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    .article-audio{
        width: 100%;
        text-align: center;
    }

    .article-paragraph{
        text-align: justify;
        font-size: 1.25em;
    }
  /* styles for the video */
  .video {
    padding: 1em;
    text-align: center;
    display: block;
  }

  /* styles for the video tag */
  video {
    border: 0.5em ridge #ffffff;
    height: auto;
    max-width: 100%;
  }

  p a{
      color: #006FCD;
  }
  .embed-video{
      width: 100%;

  }
  .embed-video iframe{
    width: 100%;
    height: 350px;

}
  .userGuide{
      margin-top: 10px;
      color: #006FCD;
      text-align: center;
      font-size: 1.75em;
      text-decoration: underline
  }
  .specs-table{
      width: 100%;
  }
  .specs-table td{
    border: 1px white solid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.10em;
    text-align: center;
  }


  .games-list{
      font-size: 1.25em;
  }

  /* *********************************************** About ************************************************** */
.about-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;

}

/* *********************************************** General Purpose ************************************************** */

.crossColor {
    color: #86afe3;
}

.squareColor {
    color: #d79cd9;
}

.circleColor {
    color: #e34746;
}

.triangleColor {
    color: #52dc84;
}

.postImage {
    margin-top: 20px;
    width: 70%;
    padding-left: 15%;
}

.divider {
    border-color: #006FCD;
}

/* *********************************************** Aside ************************************************** */

aside {
    font-family: 'zrnic';
    background-color: #1d1d1c;
    color: white;
    float: left;
    width: 20%;
    padding: 20px;
}

aside h2 {
    font-family: inherit;
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 1px;
    padding-left: 20px;
}

aside ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    list-style-position: outside;
    padding-left: 0;
}

.sidebar-element,.sidebar-element-welcome {
    margin: 10px 0px;
    text-align: center;
}


.sidebar-element,.sidebar-element-welcome a span {
    display: block;
    font-family: 'zrnic';
    font-size: 2em;
    letter-spacing: 0.05em;
}

.sidebar-element img{
    display: none;
}

.sidebar-element:hover {
    display: block;
    max-height: 80px;
    max-width: 100%;
    color: #006FCD;
    background-color: white;
}

.sidebar-element-welcome:hover{
    display: block;
    max-height: 80px;
    max-width: 100%;
    color: #006FCD;
    background-color: white;
}

.sidebar-element:hover img {
    width : 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 60px;
    object-fit: fill;
}

.sidebar-element:hover span {
    display: none;

}

.sidebar-element a.selected-li {
    background-color: #1d1d1c;
}
.sidebar-element a.selected-li:hover {
    background-color: #1d1d1c;
}

/* *********************************************** FOOTER ************************************************** */
/* footer styles */
footer {
    font-family: inherit;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
    color: #ffffff;
    background-color: #1d1d1c;
    border: 0px solid black;
    border-radius: 0px 0px 10px 10px;
    overflow: auto;
  }
  /* styles for anchor tag in footer */
  footer a {
    color: #ffffff;
    text-decoration: none;
  }

  /* styles for the copyright div */
  #copyright {
    float: left;
    margin-top: 1.2em;
    width: 80%;
  }
  
  /* styles for the social div */
  #social {
    float: right;
    width: 20%;
  }
