/* Define Fonts */

@font-face {
    font-family: plation;
    src: url("../fonts/plation.ttf") format("truetype");
}

@font-face {
    font-family: zrnic;
    src: url("../fonts/zrnic.ttf") format("truetype");
}

@font-face {
    font-family: icon-psx;
    src: url("../fonts/icon-psx.ttf") format("truetype");
}

/* styles for body element */
body {
    background-color: #006FCD;
    font-size: 15px;
    font-family: 'zrnic';
}



/* styles for teh container id */
#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* styles for the header section */
header {
    background-color: #1d1d1c;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    border: 0px solid #1d1d1c;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit
}

header a {
    width: 100%;
}

#mainImgCont {
    width: 100%;
}

#bannerImg {
    max-height: 300px;
}

#bannerComplement {
    min-height: 80px;
    margin-bottom: 20px;
}

#mainSloganCont h1 {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    font-family: 'coolvetica';
    font-weight: 200;
}
/* *********************************************** NAV ************************************************** */
/* styles for the nav element */
nav {
    font-family: 'zrnic';
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #1d1d1c;
    color: white;
    display: block;
    overflow: hidden;
}

nav ul {
    float: left;
    width: 60%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

nav form {
    text-align: right;
    float: right;
    width: 30%;
    height: 100%;
}

nav li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 20%;
    display: inline;
    float: left;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
}

nav input {
    font-family: inherit;
    height: 48px;
    color: black;
    border: 2px solid #333;
    border-radius: 5px;
    display: inline-block;
    padding: 0 30px;
    margin-top: 20px;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    font-weight: normal;
}

nav button {
    font-family: inherit;
    height: 48px;
    color: white;
    letter-spacing: 0.1em;
    font-size: 0.75em;
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    display: inline-block;
    padding: 0 30px;
    font-weight: normal;
}

.selected-li {
    color: #006FCD;
    cursor: default;
}

/* *********************************************** MAIN ************************************************** */

main {
    clear: left;
    /* margin-top: 4em; */
    border-radius: 0;
    overflow: auto;
    margin-bottom: 20px;
}

/* *********************************************** Section ************************************************** */

section {
    font-family: 'zrnic';
    letter-spacing: 1px;
    font-weight: 100;
    background-color: #1d1d1c;
    color: white;
    float: left;
    width: 72%;
    padding: 20px;
}

section h2 {
    font-family: inherit;
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 1px;
    padding-left: 20px;
}

/* *********************************************** Images ************************************************** */


.slideImg {
    width:100%;
    height: 520px;
    object-fit: fill;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #252525;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 1.25em;
    padding: 8px 0px;
    position: block;
    width: 100%;
    text-align: center;

    background-color: #2222223f;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* *********************************************** Content ************************************************** */

section p{
    text-align: justify;
    padding: 5px 40px;
    font-family: inherit;
    font-weight: 100;
    letter-spacing: 0.1em;
    font-size: 1.25em;
}

.crossColor {
    color: #86afe3;
}

.squareColor {
    color: #d79cd9;
}

.circleColor {
    color: #e34746;
}

.triangleColor {
    color: #52dc84;
}

.postImage {
    margin-top: 20px;
    width: 70%;
    padding-left: 15%;
}



.divider {
    border-color: #006FCD;
}

.icon-psx {
    font-family: 'icon-psx';
    font-weight: 100;
    font-size: 30px;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: transparent 0px solid;
    border: #006FCD 1px solid;
}

table tr th,
td {
    font-size: 1.5em;
    padding: 10px;
    border: transparent 0px solid;
    border: #006FCD 1px solid;
}

#tableTitle,#tableFoot {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

table tr th.tHeaders {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    
}

#tableFoot{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #006FCD;
}

/* *********************************************** Aside ************************************************** */


aside {
    font-family: 'zrnic';
    background-color: #1d1d1c;
    color: white;
    float: right;
    width: 20%;
    padding: 20px;
}

aside h2 {
    font-family: inherit;
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 1px;
    padding-left: 20px;
}

aside ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    list-style-position: outside;
    padding-left: 0;
}

aside ul li {
    margin: 10px 0px;
    text-align: center;
}

aside ul li a span {
    display: block;
    font-family: 'zrnic';
    font-size: 2em;
    letter-spacing: 0.05em;
}

aside ul li a:hover {
    display: block;
    max-height: 80px;
    max-width: 100%;

}

aside ul li a:hover {
    color: #006FCD;
    background-color: white;

}

aside ul li a.selected-li {
    background-color: #1d1d1c;
}
aside ul li a.selected-li:hover {
    background-color: #1d1d1c;
}


/* *********************************************** FOOTER ************************************************** */
/* footer styles */
footer {
    font-family: inherit;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
    color: #ffffff;
    background-color: #1d1d1c;
    border: 0px solid black;
    border-radius: 0px 0px 10px 10px;
    overflow: auto;
  }
  /* styles for anchor tag in footer */
  footer a {
    color: #ffffff;
    text-decoration: none;
  }

  /* styles for the copyright div */
  #copyright {
    float: left;
    margin-top: 1.2em;
    width: 80%;
  }
  
  /* styles for the social div */
  #social {
    float: right;
    width: 20%;
  }
