<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>PlayStation&reg; World | PS5</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="../css/content.css">
</head>

<body>
    <div id="container">
        <!-- a section for the headings of the webpage and logo -->
        <header>
            <a href="index.html">
                <div id="mainImgCont">
                    <img id="bannerImg"
                        src="images/ps-white.png"
                        alt="PlayStation&reg; World Logo"
                        title="PlayStation&reg; World"/>
                    <img id="bannerComplement"
                        src="images/world.png"
                        alt="PlayStation&reg; World Logo"
                        title="PlayStation&reg; World"/>
                </div>
                <div  id="mainSloganCont">
                    <h1>
                        <span class="squareColor">All</span>
                        <span class="circleColor">generations</span>
                        <span class="triangleColor">in</span>
                        <span class="crossColor">one!</span>
                    </h3>
                </div>
            </a>
        </header>

        <!-- this area is for the hyperlinks to other pages -->
        <nav>
            
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html" >About Us</a></li>
                <li><a href="#" class="selected-li">Contact Us</a></li>
            </ul>
            <form>
                <input type="text" placeholder="Search article">
                <button type="submit">Search</button>
            </form>
        </nav>

        <main>
            <section>
                <h2>Contact us</h2>
                <hr class="divider">
 
            </section>
            <aside>
                <h2>Articles</h2>
                <hr class="divider">
                <ul>
                    <li>
                        <a href="index.html">
                            <span>Welcome</span>
                        </a>
                    </li>
                    <li><hr class="divider"/></li>
                    <li>
                        <a href="ps1.html">
                            <span>PlayStation<sup>&reg;</sup> 1</span>
                        </a>
                    </li>
                    <li><hr class="divider"/></li>
                    <li >
                        <a href="#">
                            <span>PlayStation<sup>&reg;</sup> 2</span>
                        </a>
                    </li>
                    <li><hr class="divider"/></li>
                    <li >
                        <a href="#">
                            <span>PlayStation<sup>&reg;</sup> 3</span>
                        </a>
                    </li>
                    <li><hr class="divider"/></li>
                    <li >
                        <a href="#">
                            <span>PlayStation<sup>&reg;</sup> 4</span>
                        </a>
                    </li>
                    <li><hr class="divider"/></li>
                    <li >
                        <a href="ps5.html">
                            <span>PlayStation<sup>&reg;</sup> 5</span>
                        </a>
                    </li>
                    <li><hr class="divider"/></li>
                </ul>
            </aside>
        </main>
        <!-- footer section for the copyright and links to social medias -->
        <footer>
            <div id="copyright">
                <p>&copy; Copyright 2021. All Rights Reserved. <br>
                <a href="mailto:eddiesri@hotmail.com">eddiesri@hotmail.com</a></p>
            </div>
            <div id="social">
                <p>Connect with us in</p>
                <p><a href="#"><img src="images/twitterlogo.png" alt="twitter logo"></a></p>
            </div>
        </footer>
    </div>

</body>

</html>